/**************************************************************************/
/* Typography LESS */
/**************************************************************************/

.paradigm {
	font-weight: 600;
}

h1 {
	font-family: 'Open Sans', serif;
	font-weight: 800;
	text-transform:uppercase;
}

h3 {
	font-family: 'Open Sans', serif;
	font-weight: 700;
	text-transform:uppercase;
}

.optin-form h4 {
    color: #3d3d3d;
    font-size: 18px;
}