/**************************************************************************/
/* UI LESS */
/**************************************************************************/

.t4tg-home-btn {
	margin: 20px 0 20px;
	background-color: #fcda38;
	padding: 10px 28px 10px 28px;
	border-color: #fcda38;
}

.t4tg-home-btn:hover {
	background-color: #3d3d3d;
	color: #fcda38;
	border-color: #3d3d3d;
}

.t4tg-hero-btn {
	margin: 20px 0 20px;
	background-color: #fcda38;
	padding: 10px 28px 10px 28px;
	border-color: #fcda38;
	border: 4px solid;
}

.t4tg-hero-btn:hover {
	background-color: #3d3d3d;
	color: #fcda38;
	border-color: #3d3d3d;
}

.t4tg-cta-btn {
	background-color: #3d3d3d;
	color: #fff;
	border-color: #3d3d3d;
}

.t4tg-cta-btn:hover {
	background-color: #656565;
	color: #fcda38;
	border-color: #656565;
}

.navbar-btn {
	margin: 25px;
	background-color: #fcda38;
	padding: 10px 28px 10px 28px;
	border-color: #ffffff;
}

.navbar-btn:hover {
	background-color: #3d3d3d;
	color: #fcda38;
	border-color: #3d3d3d;
}

.alert-t4tg {
	background-color: #fffdd4;
    border-color: #fffdd3;
    color: #707070;
}

.fa-chevron-right {
	padding-left: 10px;
}

#sidebar-social ul li {
    background-color: #3d3d3d;
    color: #fcda38;
    display: inline;
    font-size: 32px;
    padding: 10px;
}
#sidebar-social ul li:hover {
    background-color: #515151;
    color: #fff1a8;
    display: inline;
    font-size: 32px;
    padding: 10px;
}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #fff;
    color: #FFE03B;
    height: 87px;
}

.navbar-default {
    background-color: none !important;
    background-repeat: repeat-x;
    border-radius: 4px;
}


.fa-yellow {
	color: #fddd38;
}